// Base process configuration
process {
    cpus = { params.threads }
    memory = '4.GB'
    time = '1h'
    
    errorStrategy = 'finish'
    
    withName: FASTP {
        cpus = { params.threads }
        memory = '2.GB'
    }
    
    withName: SPADES {
        cpus = { params.threads }
        memory = '4.GB'
        time = '2h'
    }
    
    withName: SEQKIT_STATS {
        cpus = 1
        memory = '1.GB'
    }
}

// Configures location for temporary files
workDir = "work"

// Creates output directory
params.outdir = "results"
