// Define default parameters
params {
    outdir = 'results'
    reads = null
    test = false
}

// Process configuration
process {
    cpus = 2
    memory = '4 GB'
    time = '30m'
}

// Profiles configuration
profiles {
    conda {
        conda.enabled = true
        process.conda = null
    }
    
    test {
        params.test = true
    }
}

// Execution reports
report {
    enabled = true
    file = 'results/execution_report.html'
}

timeline {
    enabled = true
    file = 'results/execution_timeline.html'
}

dag {
    enabled = true
    file = 'results/execution_dag.png'
}
