manifest {
    description = 'Genomics Nextflow Workflow for BIOL7210'
    nextflowVersion = '>=24.10.5'
}

// Default parameters
params {
    // Input
    reads = "$projectDir/test_data/*_R{1,2}.fastq.gz"
    
    // Output directory
    outdir = 'results'
    
    // Process-specific parameters
    fastp_args = ''
    spades_args = ''
    seqkit_args = ''
}

profiles {
    conda {
        conda.enabled = true
        process {
            withName: 'FASTP' {
                conda = "$projectDir/conda/fastp.yml"
            }
            withName: 'SPADES' {
                conda = "$projectDir/conda/spades.yml"
            }
            withName: 'SEQKIT_STATS' {
                conda = "$projectDir/conda/seqkit.yml"
            }
        }
    }
    
    test {
        params.reads = "$projectDir/test_data/*_R{1,2}.fastq.gz"
    }
}

// Process configuration
process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    
    cpus = 2
    memory = '4 GB'
}

// Capture workflow execution information
dag {
    enabled = true
    file = "${params.outdir}/pipeline_dag.html"
}

// Generate execution timeline
timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
}

// Generate execution report
report {
    enabled = true
    file = "${params.outdir}/report.html"
}
